.Container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(239, 100, 58, 0.955) 50%,rgba(240, 237, 237, 0.955) 50%) ;
}

.wrapper
{
    width: 400px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(232, 88, 43, 0.955);
}

.wrapper h2{
    color: orangered;
}
.Time
{
    font-size: 50px;
    font-weight: 500;
    padding: 10px 20px;
}

.buttons
{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

.buttons button
{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.buttons button:nth-child(1)
{
    background: rgba(21, 193, 9, 0.693);
}
.buttons button:nth-child(2)
{
    background: rgb(240, 58, 29);
}
.buttons button:nth-child(3)
{
    background: rgb(242, 245, 61);
}

@media screen and (max-width: 350px) {
    .buttons{
        flex-direction: column;
        margin: 20px;        
    }
   
    .wrapper{
        height: 400px;
    }
}